.ppage {
    position: relative;
}

.psubnav {
    width: 30vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -11vh;
    left: 43.5vw;
}

.pcategory {
    text-decoration: none;
    color: silver;
    font-family: 'Abel', sans-serif;
    font-size: 5vh;
    width: 40vw;
    height: 30vh;
    border: solid;
    border-width: .5vw;
    border-color: silver;
    margin: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pmain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    text-decoration: none;
    color: silver;
}

.pmain a {
    color: silver;
    text-decoration: none;
}

#speakers {
    background: url("../../images/speakers.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#wireless {
    background: url("../../images/wireless.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#headphones {
    background: url("../../images/headphones.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#car {
    background: url("../../images/caraudio2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ptile {
    width: 70%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 2.5vh;
    align-items: center;
    border-width: 1vh;
    border-color: silver;
}

.ptile a {
    text-decoration: none;
    color: silver;
    font-family: 'Abel', sans-serif;
}

.ptilebody {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ptileprice {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}