.page {
    position: relative;
}

.subnav {
    width: 15vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -11vh;
    left: 32.5vw;
}

.subnavlinks {
    text-decoration: none;
    color: silver;
    font-family: 'Abel', sans-serif;
    font-size: 2.5vh;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.content {
    height: 50vh;
    width: 50vw;
    line-height: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contenttitle {
    font-size: 4vh;
    width: 50vw;
    align-content: left;
}