body {
  background: black;
  font-family: 'Abel', sans-serif;
  color: silver;
}

.app {
  background: radial-gradient(closest-corner at 40% 40%, rgba(0,0,0,0),rgba(0,0,0,1)), url("images/800.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  background-size: 130vh 90vh;
  animation-name: fadeIn;
  animation-duration: .8s;
}



.mainheader {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  padding-left: 7vw;
  padding-right: 7vw;
  position: fixed;
  top: 0px;
  background: black;
}

.logo {
  width: 12.5%;
}

.landing {
  color: silver;
  font-family: 'Abel', sans-serif;
  font-size: 7vh;
  position: absolute;
  top: 39vh;
  left: 33vw;
  height: 40vh;
  width: 40%;
  font-weight: lighter;
  animation-name: fadeIn;
  animation-duration: 2s;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.page {
  position: relative;
  margin-top: 120px;
}

.navbar {
  display: flex;
  width: 40vw;
  justify-content: space-between;
  align-items: center;
}

.navlinks {
  text-decoration: none;
  color: silver;
  font-size: 1.5vw;
  /* border-bottom: solid;
  border-width: 1px; */
  height: 20px;
}

.line {
  margin-top: -19px;
  height: 20px;
  border-bottom: solid;
  border-width: 1px;
  width: 0%;
  transition: width .3s;

}

.navlinks:hover > .line{
  width: 100%;
}


.subnav {
  width: 15vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -11vh;
  left: 32.5vw;
}

.subnavlinks {
  text-decoration: none;
  color: silver;
  font-family: 'Abel', sans-serif;
  font-size: 2.5vh;
}

.subnavlinks:hover > .line {
  width:100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.content {
  height: 50vh;
  width: 50vw;
  line-height: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contenttitle {
  font-size: 4vh;
  width: 50vw;
  align-content: left;
}

.search {
  width: 12.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchbox {
  border: solid;
  border-color: silver;
  border-width: 1px;
  background: black;
  border-radius: 50px;
  width: 10vw;
  height: 1.5vw;
  padding-left: 5%;
  color: silver;
}

.searchbox::placeholder {
  color: silver;
  font-family: 'Abel', sans-serif;
  font-size: 1.25vw;
}

.searchbox:focus {
  color: silver;
}

.searchbutton {
  background: black;
  border: solid;
  border-color: black;
  border-width: .1vw;
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mag {
  width: 1vw;
  height: 1vw;
}

.ppage {
  position: relative;
}

.psubnav {
  width: 30vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -11vh;
  left: 43.5vw;
}

.pcategory {
  text-decoration: none;
  color: silver;
  font-family: 'Abel', sans-serif;
  font-size: 3vw;
  width: 40vw;
  height: 30vh;
  border: solid;
  border-width: .5vw;
  border-color: silver;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: fadeIn;
  animation-duration: 1s;
  transition: width .3s;
}

.pnavlinks {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.pcategory:hover .line {
  width: 100%;
}

.pmain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  text-decoration: none;
  color: silver;
  font-size: 14px;
  animation-name: fadeIn;
  animation-duration: 2s;
  padding-top: 50px;
}

.pmain a {
  color: silver;
  text-decoration: none;
}

#speakers {
  background: url("./images/speakers.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#wireless {
  background: url("./images/wireless.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#headphones {
  background: url("./images/headphones.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#car {
  background: url("./images/caraudio2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ptile {
  width: 70%;
  height: 22vh;
  display: flex;
  justify-content: space-between;
  padding: 2.5vh;
  align-items: center;
  border: solid;
  border-width: 0px;
  border-color: silver;
  animation-name: fadeIn;
  animation-duration: .6s;
}

.ptile:hover {
  border-width:1px;
}

.ptile a {
  text-decoration: none;
  color: silver;
  font-family: 'Abel', sans-serif;
  font-size: 1.5vw;
}

.ptilebody {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2vw;
}

.ptilebody h1 {
  font-size: 18px;
}

.ptilebody p {
  margin-top: 7px;
}

.ptileimg {
  height: 20vh;
}

.ptileprice {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2vw;
}

.productdetail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:70%;
  margin:auto;
  margin-top:75px;
  padding-top:50px;
  background: black;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.productname {
  font-size:20px;
  display: flex;
  justify-content: center;
}

.productdetailimg {
  width:350px;
}

.page {
  position: relative;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.subnav {
  width: 15vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -11vh;
  left: 32.5vw;
}

.subnavlinks {
  text-decoration: none;
  color: silver;
  font-family: 'Abel', sans-serif;
  font-size: 2.5vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.content {
  height: 50vh;
  width: 50vw;
  line-height: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(0,0,0,.75); 
}

.contenttitle {
  font-size: 4vh;
  width: 50vw;
  align-content: left;
}

.account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
}

.cart {
  height: 25px;
}

.carttile {
  width: 70%;
  height: 22vh;
  display: flex;
  justify-content: space-between;
  padding: 2.5vh;
  align-items: center;
  margin-top: 20px;
}

.carttile:nth-child(even){
  background-color: rgba(255,255,255,0.2);
}

.carttile:nth-child(odd) button {
  background-color: rgba(255,255,255,0.2);
}

.cartmain {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.cartmain a {
  text-decoration: none;
  color: silver;
}

#cart {
  flex-direction: row;
  width: 125px;

}

#cart h1 {
  font-size: 20px;
}

.carttilebody {
  display: flex;
  align-items: center;
}

.addremove {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 55px;
}

.addremove button {
  background: black;
  height: 25px;
  width: 75px;
  border-radius: 15px;
  border: solid;
  border-color: silver;
  color: silver;
  border-width: 1px;
}

.topoftable {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 2.5vh;
  margin-top: -25px;
}

.carttotal {
  width: 70%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.cartotal h1 {
  float: right;
}

.checkout {
  width: 57.5%;
  display: flex;
  flex-direction: row-reverse;
}

.checkoutbutton {
  background: black;
  height: 40px;
  width: 100px;
  border-radius: 15px;
  border: solid;
  border-color: silver;
  color: silver;
  border-width: 1px;
  font-size: 20px;
}

.cartfooter {
  height: 100px;
}

.inspiration {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; */
  background: radial-gradient( closest-corner at 100% 100%, rgba(000,000,000,0.8),rgba(000,000,000,0.8)), url("./images/marble.jpg");
  background-repeat: repeat;
  background-size: 500px 500px;
  /* background: radial-gradient( closest-corner at 100% 100%, rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url("./images/blackmarble.jpg");
  background-repeat: repeat;
  background-size: 626px 417px; */
  width: 85%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: 100px;
  column-count: 3;
  column-gap: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.inspirationbrick {
  /* max-height: 200px; */
  margin-top: 10px;
  animation-name: fadeIn;
  animation-duration: .6s;
  display: inline-block;
  margin: 0 0 10px;
  max-height: 500px;
  width: 100%;
}

/* .inspirationouter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
} */

.close {
  background: black;
  border: none;
  color: silver;
  margin-right: 25px;
  height: 15px;
}

.close:hover .line {
  width: 100%;
}

.closeouter {
  display: flex;
  flex-direction: row-reverse;
}

.field {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.field input {
  border: solid;
  border-color: silver;
  border-width: 1px;
  background: black;
  border-radius: 50px;
  width: 10vw;
  height: 1.5vw;
  padding-left: 5px;
  margin-left: 10px;
  color: silver;
}

.field input:focus {
  color: silver;
}

.field h5 {
  width: 80px;
}

.subtitle {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.subCheckOutForm {
  display: flex;
  justify-content: space-between;
}

#name {
  width: 250px;
}

#address{
  width: 375px;
}
#city{
  width: 150px;
}
#state{
  width: 125px;
}

#zipcode{
  width: 75px;
}

.checkOutForm {
  margin-top: 35px;
}

.paybuttonouter {
  display: flex;
  flex-direction: row-reverse;
}

.paybutton {
  margin-top: 15px;
  width: 150px;
  display: flex;
}