@media (max-width: 1199px){
    .app {
        background-size: 650px 475px;
    }

    .mainheader {
        padding-left: 45px;
        padding-right: 45px;
    }

    .landing {
        font-size: 40px;
        top: 210px;
        left: 320px;
    }

    .navbar {
        width: 550px;
    }

    .subnav {
        left: 340px;
    }

    .content {
        height: 250px;
    }

    .contenttitle {
        font-size: 22px;
    }

    .pcategory {
        width: 400px;
        height: 160px;
        font-size: 32px;
    }

    .ptile {
        height: 125px;
    }

    .backbutton {
        right: 185px;
    }

    .pbackbutton {
        right: 225px;
    }

    .productdetail {
        width: 65%;
    }
    
    .carttotal {
        width: 80%;
    }

    .checkout {
        width: 65%;
    }
}